<!DOCTYPE html>
html
    head
        
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui")
        title
            |Шаблон для портфолио/резюме
        link(rel="stylesheet", href="public/css/bootstrap.css")
        link(rel="stylesheet", href="public/css/bootstrap-theme.css")
        link(rel="stylesheet", href="public/css/bundle.css")
        script(src="public/js/jquery-3.1.1.js")
        script(src="public/js/bootstrap.js")
                
    body
        header
            .header__top
                .profile
                    img(src="public/images/logo.png", alt="")
                .FIO
                    h2
                        |Юрий Маратканов
                .position
                    h3
                        |FrontEnd разработчик
            nav.main-menu
                ul.menu-list
                    li
                        a(href="#")
                            |Обо мне
                    li
                        a(href="#")
                            |Контакты
                    li
                        a(href="#")
                            |Портфолио
                    li
                        a(href="#")
                            |Пункт меню